.jumbotron {background-color:coral

}


.container {font-style: italic;

}


h1 {background-color: magenta;

}


nav {font-size: xx-large;
    
}


.img-fluid {max-width: 45%;
    height: auto;
    

}



